.mainNote {
  border-bottom: 2px solid var(--color-primary-black);
  padding-bottom: 0.5em;
}

.noteDetails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 27px 1fr;
  grid-template-areas: "title title title title";
  grid-gap: 1em;
  padding: 1em 0;
  border-bottom: 2px solid var(--color-primary-black);
}

.imgContainer img {
  width: 100%;
}

.mainNote h3 {
  margin: 0.2em 0;
}

.noteDetails h2 {
  grid-area: title;
  font-style: italic;
  font-size: 1.9em;
}

.noteDetails__block .separator {
  margin-top: 0;
}

.noteDetails__block h3 {
  margin-bottom: 0.8em;
  text-align: center;
}