:root {
  --color-primary-black: #000;
}

* {
  margin: 0;
}

/* Base selectors */
p {
  text-align: justify;
}

.emptySpace {
  min-width: 100px;
  border-top: 2px solid var(--color-primary-black);
  margin-left: 0.5em;
}